// colors

$dark: #212529;

$light: #f8f9fa;
$light-active: #e5e5e5;

$primary: #0d6efd;
$primary-active: #0b49a7;

$success: #198754;
$success-active: #11663e;

$gray: #adb5bd;

$danger: #dc3545;
$danger-active: #be2b3a;
