@mixin buttonOutline($color, $backgroundColor) {
  color: $backgroundColor;
  border: 1.5px solid $backgroundColor;
  &:hover {
    color: $color;
    background: $backgroundColor;
  }
}

@mixin button($color, $backgroundColor, $backgroundColorHover) {
  color: $color;
  background: $backgroundColor;
  border: 1.5px solid $backgroundColor;
  &:hover {
    background: $backgroundColorHover;
    border: 1.5px solid $backgroundColorHover;
  }
}
