@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
// @use "../../components/sass" as *;

main.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease-in-out;
  overflow: hidden;

  // background-color: $dark;
}

.home-wrap {
  width: 100%;
  height: 84vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-wrap div h1 {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  // color: white;
}

.home-wrap div h1 span {
  /* color: #212529;
  background-color: #0d6efd; */
  color: #0d6efd;
}

.home-wrap div p {
  font-size: 1.3rem;
  width: max-content;
  color: #adb5bd;
  margin-bottom: 50px;
}

.home-wrap div button {
  width: 60%;
  margin: 0;
  padding: 12px;
  font-size: 1.2pc;
}

div.img {
  border: 5px solid;
  border-radius: 50%;
  width: 12pc;
  height: 12pc;
  position: relative;
  background-image: url(../../assets/profile.jpg);
  background-position: center;
  background-size: cover;
}
