@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
// @use "../../components/sass" as *;

main.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease-in-out;
  overflow: hidden;

  // background-color: $dark;
}

.home-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  div {
    margin-top: 6pc;
    h1 {
      font-size: 4rem;
      font-family: "Poppins", sans-serif;
      // color: white;
      span {
        /* color: #212529;
        background-color: #0d6efd; */
        color: #0d6efd;
      }
    }
    p {
      font-size: 1.3rem;
      width: max-content;
      color: #adb5bd;
      margin-bottom: 50px;
    }
    a {
      width: 100px;
      margin: 0;
      padding: 12px 50px;
      font-size: 1.2pc;
      text-decoration: none;
    }
  }
}

div.img {
  border: 5px solid;
  border-radius: 50%;
  width: 12pc;
  height: 12pc;
  position: relative;
  background-image: url(../../assets/profile.jpg);
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  div.img {
    margin: 0;
    width: 8pc;
    height: 8pc;
    padding: 0;
  }
  .home-wrap {
    flex-direction: column-reverse;
    justify-content: center;
    div {
      margin-top: 2pc;
      h1 {
        font-size: 3pc;
      }
    }
  }
}
