@use "../sass" as *;

nav.navbar {
  position: fixed;
  top: 0;
  height: 90px;
  width: 100%;
  z-index: 4;
  // display: none;
  div.nav-wrap {
    transition: 0.3s all ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    transition: all 0.3s ease-in-out;
    // background-color: $dark;
    .nav-brand {
      cursor: pointer;
      span {
        color: $primary;
      }
    }
    .link {
      display: flex;
      color: $light;
      a {
        position: relative;
        color: $gray;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        font-size: 1pc;
        margin: 0 15px;
      }
      a.active {
        font-weight: 450;
        color: $primary;
      }
      a:hover {
        color: $primary;
      }
    }

    span.theme {
      display: flex;
      flex-direction: row-reverse;
      width: 114px;
      button {
        cursor: pointer;
        border: none;
        border-radius: 50%;
        padding: 5px;
        transition: all 0.3s ease-in-out;
        font-size: 1.3rem;
      }
    }
  }
}

.nav-responsive {
  display: none;
  z-index: 5;
  button {
    cursor: pointer;
    background: none;
    outline: none;
    border: none;
    color: inherit;
  }
  .re-nav-wrap {
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: inherit;
    transform: translateX(1000px);
    box-shadow: 0px 0px 8px #0c0c0ca1;
    &.show {
      transform: translateX(0);
    }
    transition: 0.3s all ease-in-out 0.1s;
    .close {
      display: flex;
      align-items: center;
      width: 100%;
      height: 90px;
      position: relative;
      button {
        position: absolute;
        right: 50px;
        cursor: pointer;
      }
    }
    .re-link {
      display: flex;
      flex-direction: column;
      a {
        &:first-child {
          margin-top: 1pc;
        }
        padding: 2pc 4pc;
        font-size: 1.3pc;
        text-decoration: none;
        transition: 0.1s;
      }
      .active {
        transition: 0.3s all ease-in-out;
        background-color: $primary;
      }
    }
    .items {
      display: flex;
      padding: 0 35px;
      .re-theme {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        button {
          padding: 5px;
          transition: 0.3s all ease-in-out;
          border-radius: 50%;
          &.bg-light_mode-nav {
            color: $dark;
            background-color: $light;
          }
          &.bg-dark_mode-nav {
            color: $light;
            background-color: $dark;
          }
        }
      }
    }
  }
}

button.closeBtn {
  width: 100vw;
  height: 100vh;
  border-radius: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  padding: 0;
  z-index: 4;
  display: none;
  border: none;
  outline: none;
  &.show {
    opacity: 1;
    display: block;
  }
  // transform: translateX(1000px);
}

// Responsive

@media screen and (max-width: 768px) {
  nav.navbar {
    div.nav-wrap {
      .link {
        display: none;
      }
      span.theme {
        display: none;
      }
    }
  }
  .container {
    padding: 0 50px;
  }
  .nav-responsive {
    display: inline-block;
  }
}
