.container {
  padding: 0 90px;
}

/* button */

.btn {
  background: none;
  padding: 10px 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 8px;
}

/* bootstrap color */
.btn.primary {
  color: #0d6efd;
  border: 1.5px solid #0d6efd;
}

.btn.primary:hover {
  color: #f8f9fa;
  background: #0d6efd;
}

.btn.succes {
  color: #198754;
  border: 1.5px solid #198754;
}

.btn.succes:hover {
  color: #f8f9fa;
  background: #198754;
}

.btn.full-primary {
  border: 1.5px solid #0d6efd;
  color: #f8f9fa;
  background-color: #0d6efd;
}

.btn.full-primary:hover {
  border: 1.5px solid #0b49a7;
  background-color: #0b49a7;
}

.btn.full-white {
  border: 1.5px solid #f8f9fa;
  color: #212529;
  background-color: #f8f9fa;
}

.btn.full-white:hover {
  border: 1.5px solid #f8f9fa;
  background-color: #f8f9fa;
}

.btn.full-danger {
  border: 1.5px solid #dc3545;
  color: #212529;
  background-color: #dc3545;
}

.btn.full-danger:hover {
  border: 1.5px solid #dc3545;
  background-color: #dc3545;
}
